<h1>Record a Workout!</h1>
<hr>
<br><br>
<%= form_with model: @userexercise do |f|  %>
<%= f.label :exercise_id, 'Choose an Exercise!' %>
<%= f.collection_select :exercise_id, Exercise.all, :id, :name   %>
<%= f.date_select :date %>
<%= f.submit %>
<% end %>
