<% time_header = Time.new(2018, @month) %>
<h1>Exercise Record for <%= time_header.strftime("%B") %>!</h1>

<h5> <%= link_to "BACK", user_path(@logged_in_user) %> </h5>

<% @all_workouts.each_with_index do |workout, index| %>
<% time = Time.new(2018, @month.to_i, index + 1) %>
<h3> <%= time.strftime("%B %e, %Y") %> </h3>
<% if workout == '' %>
No Workout Completed!
<% else %>
<%= workout.exercise.name %>
<% if workout.exercise.name == "Running" %>
<br>Pace - <%= workout.pace %> (min/mile) <br> Distance - <%= workout.distance %> miles
<% end %>
<% end %>
<br>
<% end %>
