<h1 align="center"> <%= @user.name %>'s Wellness Plan! </h1>

<hr>


<h1>Exercise !</h1>
<% @user.user_exercises.each do |goal| %>
<fieldset>
<p> <strong> <%=link_to goal.exercise.name, user_exercise_path(goal) %> </strong> </p>  <br>
<p> <%= goal.exercise.description %> </p> <br>
<p> <%= button_to "Adjust your goal!", edit_user_exercise_path(goal), method: 'get' %> </p>
</fieldset>
<% end %>

<%= link_to "Add New Workout to Your Repetoire!", new_user_exercise_path %>

<br>
<br>
<br>
<br>

<h1>Nutrition !</h1>
<body>
  The ideal amount of calorie consumption per day is 2500 for males and 2000 for females! <br> <br>
  The ideal distrubution of food types is CARBOHYDRATES - 50 %, PROTEINS - 27% and FATS - 23%! <br><br>
  <%= @calories %> calories a day for <%= Time.now.strftime("%B") %> <br><br>
  <% @breakdown_hash.each do |key, value| %>
  <%= value %> % - <%= key %>
  <br>
  <br>
  <% end %>

</body>



<!-- <% @user.recipes.each do |meal| %>
<%= meal.name %>
<br>
<br>
<% end %> -->





<%= form_tag user_month_nutrition_path do%>
<label>Month:   </label>
<%= select_month(Date.today) %>
<%= submit_tag "Daily Overviews" %>
<% end %>
<br>

<!-- <%= link_to "Daily Overview", user_choice_path %> -->


<%= link_to "Record Meal", user_choice_path %>
