<h1 align="center"> <%= @user.name %>'s Wellness Plan! </h1>

<hr>

<h4 align="center">"To keep the body in good health is a duty... otherwise we shall not be able to keep our mind strong and clear" - Buddha</h4>
<!-- <p>At www.MakeYourLifeBetter.com we beleive in the 3 pillars of well-being, sleep, exercise and nutrion!
   Improve your well-being by tracking your performance in each category!  </p> -->


<h1>Sleep - <%= @user.sleep_score %></h1>
<body>
  The ideal amount of sleep is 8 hours a night! <br><br>
  <%= @hours_slept %> hours per night for <%= Time.now.strftime("%B") %>
</body>


<br><br>
<%= form_tag user_month_sleep_path do%>
<label>Month:   </label>
<%= select_month(Date.today) %>
<%= submit_tag "Daily Overviews" %>
<% end %>
<br>
<%= link_to "Record A Night's Sleep", new_sleep_path %>

<br><br>
<h1>Exercise - <%= @user.exercise_score %></h1>
<body>
  In order to recieve the greatest benifts one should workout at least 4 times a week! <br><br>
  <%= @workouts_average %> per week for the past 4 weeks
</body> <br> <br>
<%= form_tag user_month_exercise_path do%>
<label>Month:   </label>
<%= select_month(Date.today) %>
<%= submit_tag "Daily Overviews" %>
<% end %>
<br>
<!-- <% @user.user_exercises.each do |goal| %>
<fieldset>
<p> <strong> <%=link_to goal.exercise.name, user_exercise_path(goal) %> </strong> </p>  <br>
<p> <%= goal.exercise.description %> </p> <br>
<p> <%= button_to "Adjust your goal!", edit_user_exercise_path(goal), method: 'get' %> </p>
</fieldset>
<% end %> -->

<%= link_to "Record Workout", new_user_exercise_path %>
<br>
<br>

<h1>Nutrition !</h1>
<body>
  The ideal amount of calorie consumption per day is 2500 for males and 2000 for females! <br> <br>
  The ideal distrubution of food types is carbohydrates - 50 %, proteins - 27% and fats - 23%! <br><br>
  <%= @calories %> calories a day for <%= Time.now.strftime("%B") %> <br><br>
  <% @breakdown_hash.each do |key, value| %>
  <%= value %> % - <%= key %>
  <br>
  <br>
  <% end %>

</body>



<!-- <% @user.recipes.each do |meal| %>
<%= meal.name %>
<br>
<br>
<% end %> -->





<%= form_tag user_month_nutrition_path do%>
<label>Month:   </label>
<%= select_month(Date.today) %>
<%= submit_tag "Daily Overviews" %>
<% end %>
<br>

<!-- <%= link_to "Daily Overview", user_choice_path %> -->


<%= link_to "Record Meal", user_choice_path %>
